<!DOCTYPE html>
<html lang="en">
<head>
    <title>ABOUT</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    {{>header}}
    <img src="./img/screen.png">
    <p>created by {{nam}}</p>
    {{>footer}}
</body>
</html>